body {
  box-sizing: border-box;
}


.interface {
  display: flex;
  flex-direction: row;

}

.gridContainer {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 960px;
  flex: 1
}

.header {
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px
}