body {
  box-sizing: border-box;
}

.interface {
  display: flex;
  flex-direction: row;
justify-content: center;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 960px;
}

.header {
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}